.about {
    padding-top: 2rem;

    @media (min-width: 768px) {
        padding-top: 2.75rem;
    }

    &__bg {
        background-image: url(../img/about-diferenciais.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        background-position: bottom;
        @include border-radius-bottom;

        @media (min-width: 768px) {
            height: 60vh;
        }

        &__img {
            &--icon {
                transition-timing-function: ease;
                transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            }
        }


    }
}

.about .about__ul {

    @media (min-width: 768px) {
        column-count: 2;
        margin: 0;
    }

    li {
        &+li {
            margin-top: .5rem;

            @media (min-width: 768px) {
                margin-top: 1.5rem;
            }

        }
    }
}

#diferenciais ul {
    @media (min-width: 768px) {
        column-count: 2;
        margin: 0;
    }

    li {
        @media (min-width: 992px) {
            font-size: 18px;
        }
       
        &+li {
            margin-top: .5rem;

            @media (min-width: 768px) {
                margin-top: 1.5rem;
            }

        }

    }
}