.busca{
    display: none;
    @media (min-width: 992px){
        display: block;
    }

    ul{
        display: flex;
        justify-content: space-around;

        li{
            padding: 0 1rem;
        }
    }
}

.busca__p{
    font-size: 1.5rem;
    margin-right: 3.5rem;
}

.sf-input-select{
    @include input-default;
}

.sf-field-submit{
 input{

    @extend %btn;
    padding: .54rem;
 }
  
}