.contact{
    padding-top: 1rem;

    @media (min-width: 768px){
        padding-top: 2.75rem;
    }
}

.contact__banner{
    @include border-radius-bottom;
    width: 100%;
    @media (min-width: 768px){
        display: none;
    }
}

.contact__banner--desktop{
    display: none;
    @media (min-width: 768px){
        display: block;
        width: 100%;
        border-radius: 1rem;
    } 
}

.home__button--color{
    @extend %btn;
    background-color: $first!important;
    text-decoration: none;

    &:hover{
        opacity: .9;
    }
    
    @media (min-width: 768px){
        padding: .8rem;
    }
}

.wpcf7-list-item{

    span{
        margin: 0;
    }
    label{
        display: flex;
        align-content: center;
        padding: 1rem 0;
    }
    input{
        width: 20%;
        align-self: center;

        @media (min-width: 768px){
            width: 10%;
        }
    }
}

span.wpcf7-list-item{
    margin: 0;
    justify-content: start;
}




#file-upload-button{

    input{
        @extend %btn;
    }
    
    border: none;
    padding: .5rem;
    cursor: pointer;

    @media (min-width: 768px) {
        padding: .8rem;    
    }
}