.empreendimentos-carrosel{
    width: 100%;
    @include border-radius-bottom;
    @media (min-width: 768px){
        display: none;
    }
}

.empreendimentos-carrosel-desktop{
    display: none;
    @media (min-width: 768px){
        display: block;
        width: 100%;
        border-radius: 1.6rem;
    }

}

.empreendimentos__h3--titulo{
    span{
        @extend %color_third;
    }

    @media (min-width: 768px){
        font-size: 1.5rem;
    }
}

.empreendimentos--dnone{
    display: none;
    @media (min-width: 768px){
        display: block;
    }
}

.empreendimentos__p{
    display: none;
    font-size: .875rem;
    @media (min-width: 768px){
        display: block;
    }

    span{
        font-size: 1rem;
        text-decoration: underline;
    }

    &--desktop{
        font-weight: 700;
        @extend %color_first;
        span{
            font-style: italic;
            font-weight: 400;
        }
    }

}

.empreendimentos__h3{
    @media (min-width: 768px){
        font-size: 2.25rem;
        line-height: 1.3;
    }
}


.separator{
    display:flex;
    align-items: center;
  }
  
  .separator .line{
    height: 1px;
    flex: 1;
    background-color: $first;
  }
  
  .separator .check__list{
    padding: 0 2rem;
  }

.empreendimentos-slick{
    display: none;

    @media (min-width: 768px){
        display: block;
    }
}

.empreendimentos-slick-mb{
    display: block;

    @media (min-width: 768px){
        display: none;
    }

}

