.footer {
    @extend %background_first;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    padding-bottom: 4.5rem;

    @media (min-width: 992px) {
        padding-bottom: 2.75;
    }

    a {
        color: $fourth;
        padding-top: 0;

        &:hover {
            border-bottom: solid $third;
            font-weight: 700;
            color: $fourth;
            transition: font-weight .3s ease-in-out;
        }

        &:first-child {
            @media (min-width: 992px) {
                padding-left: 0;
            }

        }
    }

    &__p {

        &--size {
            @extend %color_fourth;
            font-size: .875rem;

            @media(min-width: 768px) {
                font-size: 1rem;
            }
        }

        &--weigth {
            @extend %color_fourth;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.5;

            @media(min-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }

    &__redes {
        a {
            &:hover {
                border-bottom: none;
            }
        }

    }
}


ul#menu-menu-2 li {
    text-align: center;

    @media (min-width: 992px) {
        display: inline-block;
    }

}