.home{
    padding-top: 1rem;
}


.home__title{
    margin-bottom: 1rem;
}

.home__h2{
    margin-top: 1rem;
}

.home__button{
    @extend %btn;
    margin-top: 1rem;
}

.home__banner--mobile{
   @include border-radius-bottom;
   width: 100%;
   @media (min-width: 768px){
       display: none;
   }
}
.home__banner--bg{
    
    @media (min-width: 768px){
        background-size: cover;
        background-position: center;
        @include border-radius-bottom;
    }
}

.home--bg{
    @extend %background_first;

    @media (min-width: 768px){
        background-position: center;
        background-size: cover;
        height: 90vh;
    }

    @media (min-width: 1440px){
        height: 80vh;
    }
}

.home__title--color{
    font-size: 1.875rem;
    text-transform: uppercase;
    color: $fourth;

    span{
        font-weight: 400;
    }
}

#conheca{

    p {
        color: $fourth;
    }
}