.mcva {

    &__logo{
        width: 270px;
    }

    &__banner {
        @include border-radius-bottom;
        width: 100%;

        @media (min-width: 768px) {
            display: none;
        }

        &--desktop {
            display: none;

            @media (min-width: 768px) {
                display: block;
            }
        }

    }

    &__itens {
        display: flex;
        align-items: start;
        margin: 1rem 0;

        a {
            @extend %color_third;
            font-weight: 700;
            margin: .5rem 0;

            &hover {
                transform: scale(1.01);
            }
        }

    }

    &__ul {
        margin: 0;

        li {
            &+li {
                margin-top: 1rem;
            }
        }
    }

    &__p {

        &--color {
            @extend %color_third;
            @include rhythm(9, 21);
            font-weight: 800;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}


.grafismo {
    &--um {

        @media (min-width: 992px) {
            border-top: 1px solid black;
            border-radius: 1.6rem;
            border-top-left-radius: 0;

        }

    }

    &--dois {

        @media (min-width: 992px) {
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-radius: 1.6rem;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }
}