%font_1{
    font-family: 'Montserrat', sans-serif;
}

@mixin hr--default{
    @extend %color_third;
    background-color: $third;
    border: solid 2px;
    width: 3.75rem;
    margin-bottom: .7rem!important;
    margin-top: .7rem!important;
}

@mixin hr--second{
    @extend %color_first;
    background-color: $first;
    border: solid .1px;
}

@mixin border-radius-bottom{
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
}

@mixin input-default{
    margin-bottom: .9rem;
    border-radius: $border-radius-default;
    border: solid 1px;
    padding: .5rem;
    width: 100%;
}
@mixin textarea-default{
    border-radius: $border-radius-default;
    border: solid 1px;
    padding: .5rem;
}
//font size 
@mixin font-size($sizeValue: 16 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}
  
@mixin line-height($heightValue: 20 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}
  
@mixin rhythm($sizeValue: 16, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}

@mixin margin_default {
    margin-top: 25px;
    margin-bottom: 25px;
    @include media-breakpoint-up(md){
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

%text_default{
    letter-spacing: 0em;
    font-style: normal;
    font-weight: 400;
    @extend %color_secondary;
    @include rhythm(16, 21);
    @include media-breakpoint-up(lg){
      

    }
}

%h1_header{
    @include rhythm(24, 29);
    letter-spacing: 0px;
    @extend %color_first;
    font-weight: 700;
    text-transform: uppercase;    
    @include media-breakpoint-up(lg){   
        @include rhythm(36, 44);
    }
}

%h2_header{
    @include rhythm(18, 21);
    letter-spacing: 0px;
    @extend %color_first;
    font-weight: 700;
    text-transform: uppercase;
    @include media-breakpoint-up(lg){
        @include rhythm(24, 29);

    }
}

%h3_header{
    @extend %color_first;
    font-weight: 700;
    text-transform: uppercase;
    @include rhythm(16, 21);
}

%h4_header{
    @extend %color_first;
    font-weight: 700;
    text-transform: uppercase;
    @include rhythm(18, 37);
}

%h5_header{
    @extend %color_secondary;
    @include rhythm(14, 21);
    font-weight: 700;
}



%color_first{
    color: $first;
}
%color_secondary{
    color: $secondary;
}
%color_third{
    color: $third;
}
%color_fourth{
    color: $fourth;
}
%background_first{
    background: $first;
}
%background_secondary{
    background: $secondary;
}
%background_third{
    background: $third;
}
%background_fourth{
    background: $fourth;
}

//btn 
%btn{
    border-radius: $border-radius-default;
    @extend %color_fourth;
    @extend %background_third;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-align: center;
    @include rhythm(16, 26);

    &:hover{
        background-color: #C32254;
    }
    @include media-breakpoint-up(md){
        @include rhythm(18, 26);
        padding: .8rem;
    }
   
   
}


//placeholders
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

