@include media-breakpoint-up(md) {
    #nav_main {
        background: white;

        &.scrolled {

            background: $fourth;
        }
    }
}

.navbar {

    background-color: white;
    justify-content: space-between;

    ul {
        a {
            color: $fourth;

            &:hover {
                border-bottom: solid $third;
                font-weight: 700;
                color: $fourth;
                transition: font-weight .3s ease-in-out;
            }
        }
    }

    &__p {
        font-size: 12px;
        color: $fourth;
        padding: 0 1rem;

        @media (min-width: 992px) {
            display: none;
        }

        &--weight {
            font-weight: 700;
            color: $fourth;
            padding: 0 1rem;

            @media (min-width: 992px) {
                display: none;
            }


        }
    }

    &__hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $fourth;
        width: 88%;
        margin: 1rem auto;

        @media (min-width: 992px) {
            display: none;
        }
    }

    &__div {

        &--first {
            background-color: $first;
            padding: 18px 0;
            display: flex;
            flex-direction: column;
            border-bottom-right-radius: 10rem;

            @media (min-width: 992px) {
                flex-direction: row;
            }
        }

        &--fourth {
            background-color: $fourth;
            padding: 0;
        }
    }

    &__img {
        padding: 0 1rem;
    }

    &__button {
        background-color: $fourth;

        &:hover {
            background-color: $fourth;
        }
    }

    &__icon {
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: transform .5s ease-in-out;
        }

        &--bottom {
            padding: 1rem 1.7rem;

            &:hover {
                transform: scale(1.05);
            }
    
            @media (min-width: 425px){
                padding: 1rem 1.3rem;
            }
            @media (min-width: 992px) {
                display: none;
            }

        }
    }

    // &__bottom {
    //     background-color: $fourth;
    //     z-index: 1;
    //     position: fixed;
    //     bottom: 0;
    //     width: 60%;
    //     border-top-right-radius: 10rem;
    //     border-top: $third solid 2px;
    //     @media (min-width: 425px){
    //         width: 50%;
    //     }
    //     @media (min-width: 768px){
    //         width: 30%;
    //     }
    //     @media (min-width: 992px){
    //         display: none;
    //     }
    // }
}

#menu-menu-1 {
    text-align: left;
    padding: 0 1rem;
}

.icon-bar {
    width: 30px;
    height: 5px;
    background-color: $secondary;
    display: block;
    transition: all .2s;
    margin-top: 4px;
    border-radius: 100px;
}

.navbar-toggler {
    border: none;
    background-color: $fourth;
    position: fixed;
    top: 0;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}