.politica{
    h1, h2, p{
        margin-bottom: 1rem;
    }

    a{
        text-decoration: none;
        color: $secondary;
        background-color: $fourth;

        &:hover{
            text-decoration: underline;
            font-weight: 500;
        }
    }
    
}

.sticky {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    @media (min-width: 768px){
        display: block;
    }
  }