*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn, a, button{
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
textarea{
    resize: none;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul {
    list-style-type: none;
}