.single {
    padding-top: 1rem;


    &__img {
        @include border-radius-bottom;

        @media (min-width: 768px) {
            border-top-left-radius: 1.6rem;
            border-top-right-radius: 1.6rem;
            margin: .5rem;
        }
    }

    &__p {
        &--size {
            font-size: .75rem;

            @media (min-width: 768px) {
                font-size: .875rem;
            }

            span {
                font-weight: 700;
            }

        }
    }


    &__h5 {

        &--color {
            color: $first;
        }
    }

    &__span {
        text-decoration: underline;
        @extend %color_third;
        cursor: pointer;
        font-weight: 700;

        &:hover {
            transform: scale(1.05);
            transition: transform .5s ease-in-out;
        }
    }

    &__icon {
        margin: auto .5rem auto 0;
    }

    &__plantas {

        @media (min-width: 992px) {
            display: flex;
        }

    }

    &__legenda{
        background-color: $third;
        padding: .2rem .5rem;
        border-radius: 100%;
        color: $fourth;
        font-weight: 400!important;
    }
}

.single-empreendimentos__h3 {

    @media (min-width: 768px) {
        color: $third;
        font-weight: 400;
        font-size: 1.5rem;
    }
}
