.card__title{
    margin-top: 1rem;
    margin-bottom: .6rem;
}

.card__button{
    @extend %btn;
    border: none;
    margin-top: .6rem;
    align-self: baseline;
}

.card__bg{
    height: 155px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.card{
    padding: 1rem;
    &:hover{
        opacity: .8;;
    }
}
p.card-text{
    height: 100px;
}

div.card-header.card__bg{
    border-radius: 1.6rem;
}