// Variables


$first: #001760; //titulos
$secondary: #3D3D3D; //textos
$third: #FF2E6E; //botao
$fourth: #fff; //sei la
//global
$border-radius-default: 7.5px;

//padding sections
$padding-default: 80px 0;

$margin_default: 32.5px;