//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/navbar.scss";
@import "global/home.scss";
@import "global/about.scss";
@import "global/contact.scss";
@import "global/slick-empreendimentos.scss";
@import "global/empreendimentos.scss";
@import "global/mcva.scss";
@import "global/busca.scss";
@import "global/single-empreendimentos.scss";
@import "global/footer.scss";
@import "global/politica.scss";

body {
    margin-top: 60px;
}

section {

    &:first-child {
        padding-top: 2rem;
    }

    padding: 2.75rem 0;
}

footer {
    padding: 2.75rem 0;
}


h1 {
    @extend %h1_header;
}

h2 {
    @extend %h2_header;
}

h3 {
    @extend %h3_header;
}

h4 {
    @extend %h4_header;
}

h5 {
    @extend %h5_header;
}

p {
    @extend %text_default;
}


input[type="submit"] {
    @extend %btn;
    border: none;
    padding: .5rem;
    cursor: pointer;

    @media (min-width: 768px) {
        padding: .8rem;
    }
}

input {
    @include input-default;
}


textarea {
    @include textarea-default;
}

.hr {

    &--default {
        @include hr--default;
    }


    &--second {
        @include hr--second;
    }

    &--dnone {
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.br--dnone {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.checklist {
    @extend %color_third;
    font-weight: 700;
    font-size: 1.2rem !important;
}

.slick-dots li button:before {
    font-size: .5rem;
    line-height: 10px;
}

.slick-dots li.slick-active button::before {
    font-size: .6rem;
}

#cookie_action_close_header {
    border-radius: .5rem;
    padding: .8rem;
    width: 250px;
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1.1rem;
}

.cli-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {}
}

a.cli_settings_button {
    display: none;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
    font-size: 12px;
    margin-top: 1rem;

    @media(min-width: 768px) {
        font-size: 14px;
    }
}

.form-group {
    margin-bottom: 0;
}

.pointer_events {
    pointer-events: none;
}

.video_emp{
    iframe {
        margin: 0 1.5rem;
    }
}

select {
    margin-bottom: .9rem;
    border-radius: 7.5px;
    border: solid 1px;
    padding: .5rem;
}

// .slick-dots li button:before {
//     font-size: 25px;
//     line-height: 20px;
// }

// .slick-dots li.slick-active button::before {
//     opacity: .4;
//     font-size: 25px;
//     line-height: 20px;
// }


